<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Login</a></li>
    </ul>
</nav>