<h2>Регистрация пользователя</h2>
<form action="/auth/register" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Зарегистрироваться</button>
</form>